[core]
	editor = vim
	attributesFile = ~/.gitattributes

[color]
	ui = true

[merge]
	tool = meld

[push]
	default = simple

[pull]
	rebase = false

# Use a separate file, in the private directory, for personal information, such as user
# name and email, and other personal git settings.
[include]
	path = ~/.private/.gitconfig
