# Use the noeofl filter to remove all empty lines at the end of text files.
*.css	filter=noeofl
*.git*	filter=noeofl
*.html	filter=noeofl
*.js	filter=noeofl
*.json	filter=noeofl
*.less	filter=noeofl
*.md	filter=noeofl
*rc		filter=noeofl
*.scss	filter=noeofl
*.svg	filter=noeofl
*.txt	filter=noeofl
*.xml	filter=noeofl