[core]
	editor = vim
	attributesFile = ~/.gitattributes

[color]
	ui = true

[merge]
	tool = meld

[push]
	default = simple

# This filter executes ~/.files/bin/noeofl to remove empty lines at the end of a file.
# Files that use this filter are listed in ~/.gitattributes.
# Inspired by: https://stackoverflow.com/a/6503415
[filter "noeofl"]
	clean = ~/.files/bin/noeofl
	smudge = cat

# Use a separate file, in the private directory, for personal information, such as user
# name and email, and other personal git settings.
[include]
	path = ~/.files/private/.gitconfig